<h1>@ViewBag.Titulo</h1>
<br />
<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Grado/Nuevo_Grado" class="btn btn-primary">Nueva Grado</a>
    </div>
</div>
<br />
<div class="col-md-12 row text-center mt-xxl-auto center-block justify-content-center ">
    @foreach (var grado in Model)
    {<div class="card text-center " style="width: 18rem; margin: 10px;">
            <div class="card-body">
                <h5 class="card-title">Profesor(a): @grado.Profesor_.Nombre</h5>
                <p class="card-text">@grado.gradoP_.Grado @grado.gradoP_.Grupo</p>
                <a class="btn btn-warning" href="~/Grado/Editar_Grado/@grado.gradoP_.ID_Grado">Editar</a>
                <a class="btn btn-danger" href="~/Grado/Confirmar_Eliminar/@grado.gradoP_.ID_Grado">Eliminar</a>
            </div>
        </div>
    }
</div>