@{
    ViewBag.Title = "La escuelita";
}
 <header class="bg-warning text-white text-center">
        <h1>Bienvenidos a la Escuelita</h1>
        <p>Educación de calidad para un futuro brillante</p>
    </header>
<main>
    <div class="row">
        <section class="section section-lg bg-gray-100">
            <div class="container">
                <div class="row row-50 justify-content-center justify-content-lg-between">
                    <div class="col-12">
                        <h3 class="h-custom-1 f1">A Few Words About Us</h3>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-3 wow fadeIn">
                        <p>At Bradston College, we aim to deliver high-quality education and training that responds to the needs of employers and individuals. We are working to deliver courses that are developed in conjunction with employers.</p><a class="button button-primary-gradient" href="#"><span>More</span></a>
                    </div>
                    <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay=".2s">
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                            <div class="progress-header">
                                <p>Accounting</p><span class="progress-value">75</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                            <div class="progress-header">
                                <p>Management</p><span class="progress-value">33</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                            <div class="progress-header">
                                <p>Computer Technology</p><span class="progress-value">88</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                            <div class="progress-header">
                                <p>Medicine</p><span class="progress-value">75</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                        <!-- Linear progress bar-->
                        <article class="progress-linear">
                            <div class="progress-header">
                                <p>Jurisprudence</p><span class="progress-value">50</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xl-4 wow fadeIn" data-wow-delay=".4s"><img class="img-rounded" src="../../Content/imagenes/home-1-369x341.jpeg" alt=""></div>
                </div>
            </div>
        </section>
    </div>
</main>