@{
    ViewBag.Title = "La escuelita";
}
 <header class="bg-primary text-white text-center py-5">
        <h1>Bienvenidos a la Escuela ABC</h1>
        <p>Educación de calidad para un futuro brillante</p>
    </header>
<main>
    <div class="row">
        <section class="row">
            <div class="col-md-6">
                <h2>Nuestros Valores</h2>
                <p>Compromiso, excelencia y trabajo en equipo.</p>
            </div>
            <div class="col-md-6">
                <h2>Oferta Educativa</h2>
                <p>Contamos con programas de educación básica, media y superior.</p>
            </div>
        </section>
    </div>
</main>